.faq-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    padding-bottom: 249px;
    padding-top: 128px;
    margin-right: 0;
}
.faq-wrapper h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.faq-box {
    background-color: white;
    padding-left: 177px;
    padding-right: 177px;


}
.faq-box-p {


}

h6 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 16px;
    padding-bottom: 18px;

}

.faq-plus {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.fap-p {
    text-align: left;
    line-height: 140%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    padding-right: 16px;
    box-sizing: border-box;
    display: none;
    width: calc(1086/1440*100vw);

}

.h6-container {
position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(1086/1440*100vw);


}

#close-faq1, #close-faq2, #close-faq3, #close-faq4, #close-faq5, #close-faq6 {
    display: none;
}

.border-line {
    height: 1px;
    background-color: #20202080;
    margin-right: 30px;
}