header {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;

}

.header-content-wrapper {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    box-sizing: border-box;

}


.logo-box {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 64px;
    box-sizing: border-box;




}
.logo-text {
    font-weight: 400;
    font-size: 34px;
}

.navigator {

    width: 50vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.menu {
    display: none;
padding-right: 64px;
}
.menu img {
    max-width: 30px;
    max-height: 24px;
}
.close-nav {
    display: none;
    padding-right: 64px;

}
.newNav {
    display: none;
    width: 100vw;
    height: 909px;
    background-color: #0578FF;
    position: fixed;
    top: 116px;
    z-index: 1000;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 48px;
    padding-top: 128px;
    gap: 96px;

}
.newNav div {
    padding-left: 32px;

}