/* Общий бокс для контента */
:root {
    --input-width: 304px;
}
.main-box {
    display: flex;
    background: linear-gradient(#F5F5F5, #DDECFF, #F5F5F5);
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main-content-wrapper {
    display: flex;
    width: calc(1314/1440*100vw);
    /*width: 100vw;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
    padding-bottom: 128px;
}




.main-left-content {
    display: flex;
    justify-content: center;


}
.main-text-content {
    display: flex;
    width: 640px;
    justify-content: center;
    flex-direction: column;

}

h1 + p {
    text-align: left;
}
.main-right-content {
    display: flex;
    align-items: center;
    justify-content: center;

}


.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 640px;

    height: 34px;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    margin-bottom: 24px;
}



/* Бокс выбора количества гостей */
.guests {
    display: flex;
    flex-direction: row;
    min-width: 100px;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
}
/* Бокс выбора количества гостей */

.main-img {
    width: 640px;
    height: 704px;
}


.btn-find-ride {

    border-radius: 10px;
    background-color: #0578FF;
    width: 640px;
    height: 62px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.place-box, .date-box {
    width: 640px;
    height: 61px;

    border-radius: 10px;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.wrapper-sec {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 640px;
}
.place-box, .date-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;


}
.place, .date {
    position: relative;


}
.high-label {
    position: absolute;
    top: -36px;
}
.place-input, .date-input {

    width: 304px;
    height: 53px;
    border-radius: 10px;
    padding: 0;

}
.place-input::-webkit-input-placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #90A3BF;
    position: relative;
    left: 24px;
}

.date-input::-webkit-input-placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #90A3BF;
    position: relative;
    left: 52px;
}
.date-img {
    position: absolute;
    left: 24px;
    top: 14.5px;
}



.main-text-content h1 {
    margin-top: 0;
    margin-bottom: 0;
}

input[type="text"] {
border: white;

}
button {
    border: white;
}



input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;
    background-color: #90A3BF80;
    border-radius: 10px;
    cursor: pointer;
}


input[type="radio"]:checked {


    width: 18px;
    height: 18px;
    border: 6px solid #0d6efd;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;



}


.radio {
    font-size: 14px;
    font-family: "Poppins", sans-serif;

    font-weight: 400;
    padding-left: 6px;
}
.radio-container {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 5px;

}
.guests-img {
    padding-top: 5px;
}


.date-box {
    position: relative;

}
#justdate {
    position: absolute;
    z-index: 100;
    top: 65px;
    width: 640px;
    display: none;


}
.justdateImg img {
    width: 640px;


}












/*@media (min-width: 769px) {*/

/*    .radio {*/
/*        line-height: 100%;*/
/*    }}*/