@media (min-width: 561px) and (max-width: 1200px) {
    /*header*/
    .logo-box {
        justify-content: left;
        width: 50%;
        /*padding-left: 32px;*/
        padding-left: calc(32/768*100vw);
    }

    .logo {
        max-width: 73px;
        max-height: 34px;
    }

    .navigator {
        display: none;
    }

    .menu {
        display: flex;
        width: 50%;
        justify-content: end;
        align-items: center;

    }


    /*main block*/


    .main-content-wrapper {
        justify-content: start;
        /*align-items: start;*/
        /*padding-left: 32px;*/
        /*padding-right: 32px;*/
        padding-left: calc(32/768*100vw);
        padding-right: calc(32/768*100vw);
        width: calc(640/768*100vw);
    }

    .main-text-content {
    width: calc(640/768*100vw);
}
    .form-container {
    width: calc(640/768*100vw);
}
    .btn-find-ride {
        width: calc(640/768*100vw);
}
    .place-box, .date-box {

        width: calc(640/768*100vw);
    }

.wrapper-sec {

    width: calc(640/768*100vw);
}
    .place-input, .date-input {

        width: calc(304/768*100vw);
    }
    #justdate {

        width: calc(640/768*100vw);



    }
    .justdateImg img {
        width: calc(640/1440*100vw);

    }




    .main-left-content {
        width: 100%;
        padding-left: 0;
        justify-content: left;
    }

    .main-right-content {
        display: none;
    }

    .justdateImg img {
    calc(640/768*100vw);
    }






    /*benfits*/
    .benefits-box {
        min-height: 380px;
    }

    .benefits-content-wrapper {
        flex-wrap: wrap;

    }

    .benefits-text {
        width: 50%;
        padding-bottom: 40px;
    }

    .benefits-element {
        width: 50%;
    }

    /*gallery block*/
    .gallery-content-wrapper {


        /*padding-right: 24px;*/
        padding-right: calc(24/768*100vw);
        box-sizing: border-box;
    }

    .gallery {
        flex-direction: column;
        justify-content: center;
        min-height: 1465px;

    }

    .gallery-left div img {
        /*width: 704px;*/
        width: calc(704/768*100vw);
    }

    .gallery-img1 img {
        height: 380px;
        /*height: calc(380/704*100vh);*/

    }

    .gallery-img2 img {
        height: 362px;
        /*height: calc(362/704*100vh);*/

    }

    .gallery-right {
        /*width: 704px;*/
        width:  calc(704/768*100vw);
        min-height: 675px;

    }

    .gallery-box {
        /*padding-left: 32px;*/
        padding-left: calc(32/768*100vw);
    }

    .gallery-img5 img {
        /*width: 340px;*/
        width: calc(340/768*100vw);
        height: 425px;
        /*height: calc(425/340*100vh);*/
    }

    .gallery-img4 img {
        /*width: 340px;*/
        height: 425px;
        width: calc(340/768*100vw);
        /*height: calc(425/340*100vh);*/

    }

    .gallery-img3 img {
        /*width: 704px;*/
        width: calc(704/768*100vw);
        height: 225px;
        /*height:  calc(225/704*100vh);*/
    }


    /*apps block*/
    .app-text {
        font-size: 40px;
        font-weight: 700;
    }

    .load-app-box {
        width: 100vw;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .app-sign-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }


    .app-sign-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }

    .first-sign-app {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .first-sign-app img {
        width: 213px;
        height: 65px;
    }

    /*faq block */
    .faq-wrapper {
        padding-top: 121px;
        justify-content: center;


    }

    .faq-box {
        width: 704px;
    }

    .faq-plus {
        right: 32px;
    }

    .faq-p {
        width: calc(704 / 768 * 100vw);

        text-align: left;
        box-sizing: border-box;
    }

    .h6-container {
        width: calc(704 / 768 * 100vw);
    }

    .faq-text {
        margin-bottom: 40px;
        margin-top: 0;
    }



    /*float-contact-box*/

    .float-element {
        width: calc(464/768*100vw);
    }






    /*footer*/
    .info-box {
        flex-direction: column;
        align-items: start;
        padding-left: 32px;
        gap: 32px;

    }

    .footer-left-content {
        height: 51px;
    }

    .footer-list {
        padding: 0;
    }

    .f-last {
        padding-left: 32px;
        padding-top: 40px;
    }
    .logo-box-footer {
        margin-left: 0;
    }
}

.footer-right-content {
    gap: calc(32/768*100vw);
}
