@media (max-width: 560px) {
    .logo-box {
        width: 100%;
        justify-content: left;
    }


    .logo {
        max-width: 73px;
        max-height: 34px;
    }

    .navigator {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-right: 0;
    }


        header {
            justify-content: space-between;

        }
        .logo-box {
            padding-left: 0;
        }
        .header-content-wrapper {
            padding-left: 20px;
            padding-right: 20px;

        }
        .logo-box img {
            width: 73px;
            height: 30px;
        }
        .logo-text {
            display: none;
        }

    .newNav {

        font-size: 32px;
        gap: 64px;
        padding-top: 64px;

    }
    .newNav div {
        padding-left: 20px;
    }
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 11px;
    }

.close-nav {
    padding-right: 0;
}




    /*main block*/

    :root {
        /*--input-width: 320px;*/
        --input-width: calc(320/360*100vw);

    }


    .main-box {

    box-sizing: border-box;



        );

}

    .main-content-wrapper {

        /*padding-left: 20px;*/
        /*padding-top: 24px;*/
        padding-left: calc(20/360*100vw);
        padding-top: calc(24/360*100vw);


    }

    .main-left-content {
        width: 100%;

        padding-right: 0;
        justify-content: left;
    }

    .main-right-content {
        display: none;
    }
    .main-text-content {
        width: 320px;
        align-self: start;
    }
    h1 + p {
        /*width: 320px;*/
        width: calc(320/360*100vw);
        text-align: left;
    }

    .place-box, .date-box, .form-container {
        /*width: 320px;*/
        width: calc(320/360*100vw);

        align-self: start;

    }
    .place-box, .date-box {
          flex-direction: column;
          min-height: 202px;
      }

    .date-box {
        gap: 24px;
        justify-content: center;
    }
    .place-box {
        gap: 60px;
        justify-content: end;
    }

.wrapper-sec {

    justify-content: start;
    width: calc(320/360*100vw);
}

.btn-find-ride {
    width: 320px;
}

.radio {
    padding-left: 0;
    font-size: 12px;
    font-weight: 400;

}


    .form-container {
        box-sizing: border-box;
        padding: 0;
    }


    #justdate {

        /*width: 320px;*/
        width: calc(320/360*100vw);
        top: 75px;
        left: 20px;

    }
    .justdateImg img {
        width: calc(320/360*100vw);

    }
    .place-input, .date-input {
        /*width: 320px;*/
        width: calc(320/360*100vw);
    }
    .btn-find-ride {
        width: calc(320/360*100vw);
    }


    /*benefits block*/

    .benefits-content-wrapper {
        flex-wrap: wrap;
        /*height: 259px;*/
        gap: 24px;
        padding-left: 23px;
        padding-right: 23px;
        flex-direction: row-reverse;

    }

    .benefits-text {
        font-size: 16px;
    }

    .benefits-element {
        box-sizing: border-box;


    }

    .benefits-element {
        width: calc(140/360*100vw);
    }

    h3 {
        font-size: 40px;
        padding-bottom: 0;
    }







    /*gallery block*/
    .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        /*padding-right: 20px;*/

    }



    .gallery-img1 img {
        height: 320px;
        /*width: 320px;*/
        width: calc(320/360*100vw);

    }

    .gallery-img2 img {
        /*width: 320px;*/
        width: calc(320/360*100vw);
        height: 209px;

    }
    .gallery-img5 img {
        height: 472px;
        /*width: 320px;*/
        width: calc(320/360*100vw);
    }

    .gallery-img4 img {
        height: 637px;
        /*width: 320px;*/
        width: calc(320/360*100vw);
    }
    .gallery-img3 img {
        /*width: 320px;*/
        width: calc(320/360*100vw);
        height: 141px;
    }



    .gallery-right {
        /*width: 320px;*/
        width: calc(320/360*100vw);
    }

    .gallery-box {
        /*padding-left: 20px;*/
        padding-left: calc(20/360*100vw);
    }
    .gallery-left {
        /*width: 320px;*/
        width: calc(320/360*100vw);
    }
    .gallery-inline {
        flex-direction: column;
    }
    h2 {
        font-size: 32px;
    }
    .gallery-text {
        /*width: 320px;*/
        width: calc(320/360*100vw);
    }


    /*apps block*/

    .app-text {
        font-size: 32px;
        text-align: center;
        width: calc(290/360*100vw);
        padding-top: 32px;

    }

    .load-app-box {
        width: 100vw;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 400px;
    }

    .app-sign-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-bottom: 32px;
    }


    .app-sign-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .first-sign-app {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .first-sign-app img {
        width: calc(167.85/360*100vw);

    }
    .huawey img {
        width: calc(165.31/360*100vw);
    }
    .appstore img {
        width: calc(148.36/360*100vw);
    }


    /*faq block */
    .faq-wrapper {
        padding-top: 64px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: left;

    }

    .faq-box {
        width: 320px;
        padding-left: 0;
        padding-right: 0;
    }

    .faq-plus {
        right: 32px;
    }

    .faq-p {
        width: calc(320/360*100vw);
        padding-right: 20px;
        text-align: left;
        box-sizing: border-box;
        font-size: 16px;
    }
    .h6-container {
        font-size: 18px;
        width: calc(320/360*100vw);
    }

    .faq-text {
        margin-bottom: 40px;
        margin-top: 0;
        font-size: 64px;
    }
    .border-line {
        margin-right: 0;
    }


    /*float-contact-box*/

    .float-element {
        width: calc(320/360*100vw);
    }
    .float-content h2 {
        font-size: 36px;
    }
    .float-content p {
        font-size: 20px;
    }


    /*footer*/

    .logo-box-footer {
        margin-left: 0;
    }
    .info-box {
        flex-direction: column;
        align-items: start;
        padding-left: 20px;
        padding-right: 20px;
        gap: 24px;

    }
    .footer-right-content {
        flex-wrap: wrap;
        width: calc(320/360*100vw);
        gap: 24px;


    }

    .footer-left-content {
        height: 51px;
    }

    .footer-list {
        padding: 0;
        width: 140px;
        white-space: nowrap
    }

    .footer-list li {
        font-size: 16px;


    }
    .footer-list h6 {
        font-size: 20px;
    }

    .footer-list {
        margin: 0;
        padding: 0;
    }

.f-last {
    width: calc(326/360*100vw);

    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 40px;



}


}



