body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    /* background: linear-gradient(#F5F5F5, #DDECFF, #F5F5F5); */
    
   
    
}


p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

}

h1 {
    font-size: 64px;
    font-weight: 700;
}



/* 
.benefits-box {
    background-color: #0578FF;
    width: 100%;
    height: 20%;
    min-height: 200px;
}

.gallery-box {
    background-color: #DDECFF;
    width: 100vw;
    min-height: 1000px;
    
}

.load-app-box {
    background-color: #FFC501;
    width: 100vw;
    min-height: 500px;
}

.info-box {
    background-color: #0578FF;
    width: 100vw;
    min-height: 1000px;
    
}




 */
